* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    list-style: none;
    text-decoration: none;
    overflow: hidden;
}

#head {
    position: relative;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #2c3e50;
    align-items: center;
    padding: 0 80px;
}

#head nav ul li {
    list-style: none;
    line-height: 80px;
    display: inline-block;
    text-align: center;
}

#head nav ul li a {
    text-decoration: none;
    padding: 26px 30px;
    color: #ecf0f1;
    text-transform: uppercase;
    transition: all 0.4s;
}

#head nav ul li:hover a {
    background-color: #34495e;
    color: #e67e22;
}

.logo {
    margin-right: 100px;
}

.logo img {
    height: 60px;
    width: 60px;
}

.submenu {
    position: absolute;
    display: flex;
    width: 80%;
    top: 80px;
    left: 10%;
    justify-content: space-between;
    background-color: #34495e;
    border-radius: 0 0 10px 10px;
    line-height: 20px;
    padding: 20px 30px;
    visibility: hidden;
    transition: all 0.5s ease;
    transform: translateY(-400px);
}

.submenu .col {
    padding: 0 10px;
    cursor: pointer;
}

.submenu .col img {
    width: 200px;
    height: 200px;
}

.submenu .col p {
    padding: 20px;
    color: #ecf0f1;
}

#head nav ul li:hover .submenu {
    visibility: visible;
    transform: translateY(0);
}