* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.word {
    font-size: 18px;
    color: red;
}